.my-style{
    text-align: center;
 background-color: rgb(168, 162, 162);
    color: wheat;
}
h1{
    text-align: center;
    color: rosybrown;
}
body{
    background-color: rgb(168, 162, 162);
}